$gold: #E8DF2A;
$red: #E8052A;
$blue: #31B1E6;
$slate: #4F7D91;
$olive: #666548;
$brown: #66484D;
$white: #ffffff;

$base-color: ($olive);
$border-dark: rgba($brown, 0.88);
$border-radius-lg: 1.6rem;
$border-radius-md: .8rem;
$border-radius-sm: .4rem;
$primary-color: purple;
$background-light: $olive;
$box-shadow:  6px 6px 5px rgba(0, 0, 0, 0.08);

